.hero-panel-container {
  background-color: darkgray;
  height: 80%;
  width: 30%;
  border: 2px solid blue;
  margin: auto;
  text-align: center;
}

.hero-image {
  border: 1px solid blue;
  height: 275px;
  width: 100%;
  text-align: center;
  margin: auto;
}

.university-icon {
  font-size: 17rem;
  color: white;
}
