.navbar-container {
  width: 100%;
  background-color: black;
  display: flex;
  justify-content: space-between;
  min-height: 40px;

}

.navbar-content-container {
  list-style: none;
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 10px;
}

.navbar-brand-container {
  display: flex;
  min-width: 150px;
  justify-content: center;
  align-items: center;
  color: lightgray;
}

.nav-item {
  margin-left: 10px;
  margin-right: 10px;
  color: white;
}
